@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>                             

@foreach (var item in Model)
{
    <div class="post">
        <div class="title">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        </div>
        
        <div class="body">
            @Html.DisplayFor(modelItem => item.Body)
        </div>           
        
        <div class="date">
            @Html.DisplayNameFor(model => model.Date):
            @Html.DisplayFor(modelItem => item.Date)
        </div>
       
         <td class="links">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        
        <br />
        <br />
        <br />
    </div>
}  
